In [119]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns ##ploting and visual
import scipy.stats as stat
import numpy as np
import nltk.corpus
#nltk.download('stopwords')
from nltk.corpus import stopwords
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None 
import datetime

%matplotlib inline
from scipy import stats
from sklearn.metrics.pairwise import linear_kernel # for cosine similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [120]:
df= pd.read_csv("games.csv")

In [121]:
df.head

<bound method NDFrame.head of                                              name        platform  \
0            The Legend of Zelda: Ocarina of Time     Nintendo 64
1                        Tony Hawk's Pro Skater 2     PlayStation
2                             Grand Theft Auto IV   PlayStation 3
3                                     SoulCalibur       Dreamcast
4                             Grand Theft Auto IV        Xbox 360
...                                           ...             ...
18795                    Fast & Furious: Showdown        Xbox 360
18796                     Drake of the 99 Dragons            Xbox
18797  Afro Samurai 2: Revenge of Kuma Volume One   PlayStation 4
18798   Infestation: Survivor Stories (The War Z)              PC
18799         Leisure Suit Larry: Box Office Bust              PC

             release_date                                            summary  \
0       November 23, 1998  As a young boy, Link is tricked by Ganondorf, ...
1      September 20, 2000  As most major publishers' development efforts ...
2          April 29, 2008  [Metacritic's 2008 PS3 Game of the Year; Also ...
3       September 8, 1999  This is a tale of souls and swords, transcendi...
4          April 29, 2008  [Metacritic's 2008 Xbox 360 Game of the Year; ...
...                   ...                                                ...
18795        May 21, 2013  Fast & Furious: Showdown takes some of the fra...
18796    November 3, 2003  Drake is out for revenge in a supernatural Hon...
18797  September 22, 2015  Head out on a journey of redemption, driven by...
18798    October 15, 2012  (Formerly known as "The War Z") It has been 5 ...
18799      March 31, 2009  The Leisure Suit Larry: Box Office Bust video ...

       meta_score user_review
0              99         9.1
1              98         7.4
2              98         7.7
3              98         8.4
4              98         7.9
...           ...         ...
18795          22         1.3
18796          22         1.7
18797          21         2.9
18798          20         1.7
18799          20         2.0

[18800 rows x 6 columns]>

In [122]:
##df = pd.DataFrame(df, columns= ['name', 'platform', 'release_date', 'summary', 'meta_score', 'user_review'])

In [123]:
df.shape

(18800, 6)

In [128]:
df= df.loc[df[ platform  \] == 'Wii U']

SyntaxError: unexpected character after line continuation character (2842753278.py, line 1)

In [125]:
#df = df[df["summary"].str.contains("spin-off|DLC|Expansion") == False]
#df.shape

In [127]:
df.shape

(0, 6)

In [88]:
#df2= df.loc[df['platform'] == 'PC']

In [115]:
df.set_index('PC', inplace=True)
print(df.loc[['platform']])

KeyError: "None of ['PC'] are in the columns"

In [70]:
AND

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review]
Index: []

In [69]:
df2

Empty DataFrame
Columns: [name, platform, release_date, summary, meta_score, user_review]
Index: []