In [121]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb ##ploting and visual
import scipy.stats as stat
import numpy as np
import nltk.corpus
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hopehodges/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [122]:
df= pd.read_csv("games.csv")

In [123]:
##Cleaing up data

In [124]:
df.drop_duplicates('name',keep='first', inplace=True)

df.reset_index(drop=True, inplace=True)

In [125]:
#Getting rid of punctuation and making everything lowercase

In [126]:
df.rename(columns={'summary': 's'}, inplace=True)
df['s']=df['s'].str.lower()
df['s'] = df['s'].str.replace(r'[^\w\s]+', '')
print(df['s'])

0        as a young boy link is tricked by ganondorf th...
1        as most major publishers development efforts s...
2        metacritics 2008 ps3 game of the year also kno...
3        this is a tale of souls and swords transcendin...
4        metacritics 2007 wii game of the year the ulti...
                               ...
12249    join natalie dylan and alex for an intense adv...
12250    fast  furious showdown takes some of the franc...
12251    drake is out for revenge in a supernatural hon...
12252    head out on a journey of redemption driven by ...
12253    formerly known as the war z it has been 5 year...
Name: s, Length: 12254, dtype: object

/var/folders/l8/z5jtbjgx7xg8pwl0g1mdd2fh0000gn/T/ipykernel_14097/3941936916.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['s'] = df['s'].str.replace(r'[^\w\s]+', '')

In [130]:
null_rows = df[df['s'].isnull()].index

df.drop(index=null_rows, inplace=True)

In [ ]:
#Getting rid of stopwords

In [ ]:
#Do word clouds , content based and collab base, topic

In [132]:
stop_words = stopwords.words('english')
df['s'] = df['s'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
print(df['s'])

0        young boy link tricked ganondorf king gerudo t...
1        major publishers development efforts shift num...
2        metacritics 2008 ps3 game year also known gta ...
3        tale souls swords transcending world history t...
4        metacritics 2007 wii game year ultimate ninten...
                               ...
12249    join natalie dylan alex intense adventure base...
12250    fast furious showdown takes franchises iconic ...
12251    drake revenge supernatural hong kong world you...
12252    head journey redemption driven bittersweet rev...
12253    formerly known war z 5 years since outbreak gi...
Name: s, Length: 12153, dtype: object

In [102]:
Df2 = df.drop(df[df['user_review'] == 'tbd'].index)

In [103]:
##Turning my objects into floats

In [104]:
Df2["user_review"] = Df2["user_review"].astype(str).astype(float)

In [105]:
Df2["meta_score"] = Df2["meta_score"].astype(str).astype(float)

In [107]:
Df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17341 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          17341 non-null  object
 1   platform      17341 non-null  object
 2   release_date  17341 non-null  object
 3   s             17341 non-null  object
 4   meta_score    17341 non-null  float64
 5   user_review   17341 non-null  float64
dtypes: float64(2), object(4)
memory usage: 948.3+ KB

In [108]:
Df2.describe()

         meta_score   user_review
count  17341.000000  17341.000000
mean      71.200738      6.991269
std       12.224246      1.351931
min       20.000000      0.200000
25%       64.000000      6.300000
50%       73.000000      7.300000
75%       80.000000      7.900000
max       99.000000      9.700000

In [14]:
##Getting rid of Dreamcast and Playstation Vita since they are both considered failed consoles

In [15]:
Df3 = Df2[~Df2.platform.str.contains("Dreamcast")]

In [16]:
Df4 = Df3[~Df3.platform.str.contains("PlayStation Vita")]

In [17]:
Df4

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99.0,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98.0,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98.0,7.7
4,Super Mario Galaxy,Wii,"November 12, 2007",[Metacritic's 2007 Wii Game of the Year] The u...,97.0,9.1
5,Super Mario Galaxy 2,Wii,"May 23, 2010","Super Mario Galaxy 2, the sequel to the galaxy...",97.0,9.1
...,...,...,...,...,...,...
12249,Charlie's Angels,GameCube,"July 9, 2003","Join Natalie, Dylan, and Alex for an intense a...",23.0,4.3
12250,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22.0,1.3
12251,Drake of the 99 Dragons,Xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22.0,1.7
12252,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21.0,2.9
12253,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20.0,1.7

In [18]:
##Getting rid of games with a 65 or lower

In [19]:
condition = Df4['meta_score'] > 65

In [20]:
true_index = condition[condition == True].index

In [21]:
Df5 = Df4[condition]

In [22]:
Df5

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99.0,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98.0,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98.0,7.7
4,Super Mario Galaxy,Wii,"November 12, 2007",[Metacritic's 2007 Wii Game of the Year] The u...,97.0,9.1
5,Super Mario Galaxy 2,Wii,"May 23, 2010","Super Mario Galaxy 2, the sequel to the galaxy...",97.0,9.1
...,...,...,...,...,...,...
8688,AirForce Delta Strike,PlayStation 2,"February 3, 2004","(Also known as ""Airforce Delta Blue Wing Knigh...",66.0,7.0
8689,American Conquest: Fight Back,PC,"September 29, 2003",Three centuries of war continue - with even mo...,66.0,8.1
8690,Tomb Raider: The Prophecy,Game Boy Advance,"November 12, 2002",Tomb Raider: The Prophecy delivers the full To...,66.0,8.3
8691,Home Run King,GameCube,"March 18, 2002",From the first pitch on Opening Day to the fin...,66.0,7.5
8693,Disney's The Emperor's New Groove,PlayStation,"November 13, 2000","Take on, self-absorbed Emperor named Kuzco. Ad...",66.0,7.3

In [23]:
Df5.shape

(7951, 6)

In [24]:
##I got rid of punctuation and made eveything lowercase and got rid of stop words.

In [25]:
##Next time I will start the actual rec system